{% extends "Salary/Inicio/index.html" %}

{% load static %}

{% block content %}

<div class="encabezado">
    <div class="sub-titulo">Carga Masiva de Adicionales</div>
</div>

<div class="contenedor-masivo">
    <div class="columna-1">

        <div class="contenedor-form-masivo">
            <div class="idAdicional" style="text-align: center;">
                <span class="span-id" id="id-am" data-value="0">ÚLTIMO ID: 0</span>
            </div>
            <div class="input-container items-formulario">
                <select id="selector_conceptos" class="choices_inner" data-placeholder="SELECCIONE UN CONCEPTO">
                    <option value="" selected disabled>SELECCIONE UN CONCEPTO</option>
                </select>
            </div>
            <div class="input-container items-formulario">
                <select id="selector_centros_abrev" class="choices_inner" data-placeholder="SELECCIONE UN CENTRO">
                    <option value="" selected disabled>SELECCIONE UN CENTRO</option>
                </select>
            </div>

            <div class="input-container">
                <input type="text" class="date-input inputAdicional" id="fecha" name="fecha"
                    placeholder="Selecciona una fecha">
                <input type="number" class="date-input inputAdicional" id="importe" placeholder="Importe: $"
                    style="margin-left: 1rem;">
            </div>

            <div style="margin-top: 1rem;">
                <textarea type="text" class="text-observaciones" id="detalle" rows="5" placeholder="Detalle"></textarea>
            </div>

            <div class="adicionalBotones">
                <button class="inverted-flatpickr-button" id="nuevo-adicional">NUEVO</button>
                <button class="flatpickr-button" onclick="guardarAdicional();">GUARDAR</button>
            </div>
        </div>

    </div>


    <div class="columna-2">

        <div class="contenedor-form-imprimir">
            <div>
                <select id="selector_centros" class="choices_inner" data-placeholder="SELECCIONE UN CENTRO">
                    <option value="" selected disabled>SELECCIONE UN CENTRO</option>
                </select>
            </div>
            <div class="contenedorTabla-imprimir">

                <table class="tabla-adicional-masiva">
                    <thead>
                        <tr class="encabezado-lista-adicional">
                            <th style="width: 40px;"><input type="checkbox" class="input-checkbox checkbox"
                                    id="selectAll"></th>
                            <th style="width: 50px; min-width: 80px;">LEGAJO</th>
                            <th>APELLIDO Y NOMBRE</th>
                        </tr>
                    </thead>
                    <tbody id="tabla-masivo-adicional">
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="{%static 'js/Adicional/adicional-masivo.js' %}"></script>

</div>

{% endblock %}